# Importando Librerias

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import random
from pprint import pprint

In [2]:
%matplotlib inline
sns.set_style("darkgrid")

# Preparando los datos

### Preparacion y limpieza
- La ultima columna debera contener la etiqueta (valor o categoria a predecir) ademas debe tener un nombre en especifico, por lo tanto pondremos como nombre "label".
- No deben de haber valores nulos en el dataframe.

In [19]:
df = pd.read_csv('../data/Iris.csv')

In [20]:
df.head()

   Id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa

In [21]:
# Procederemos a eliminar columnas innecesarias
df = df.drop("Id", axis=1)
# Cambiamos el nombre a la ultima columna
df = df.rename(columns={'species': 'label'})
df.head()

   sepal_length  sepal_width  petal_length  petal_width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Split de Entrenamiento y de Prueba

La siguiente funcion se encarga de segmentar el dataframe en dos partes. Una de entrenamiento y otra de prueba.

In [ ]:
def train_test_split(df, tamanio_prueba):
    '''
    Retorna dos dataframes distintos, uno de
    entrenamiento y otro de prueba.
    
    Parametros:
    df: dataframe completo, sin segmentar.
    tamanio_prueba: tama√±o de la muestra de prueba.
    '''
    if isinstance(tamanio_prueba, float):
        tamanio_prueba = round(tamanio_prueba * len(df))