# Árboles de decisión 
## Regresión

## Ejemplo 1
En este ejemplo usaremos un dataset sobre el consumo de gasolina y mediante árboles de regresión vamos a predecir ciertos valores.

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn import datasets
%matplotlib inline

In [4]:
dataset = pd.read_csv('../data/petrol_consumption.csv')
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [5]:
X = dataset.drop('Petrol_Consumption', axis=1)
y = dataset['Petrol_Consumption']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [9]:
y_pred = regressor.predict(X_test)

In [10]:
compare_values = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
compare_values

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      554.0
30     571      554.0
32     577      631.0
37     704      640.0
34     487      628.0
40     587      540.0
7      467      414.0
10     580      464.0